{% extends "base.html" %}

{% block content %}

<br><br>

<h1>Add Products</h1>

<td><a class="btn btn-secondary" href="{{ url_for('seller_inventory.inventory') }}" role="button" color=#FF5733>Back to Your Inventory</a></td>
{% if poss_seller|length == 0 %}
<h3> You are not a seller. Please update your profile</h3>
{% else %}
<br><br>
<h2>Fill out the following to add an item: </h2>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.product_name.label }}<br/>
    {{ form.product_name(size=32) }}<br/>
    {% for error in form.product_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.describe.label }}<br/>
    {{ form.describe(size=32) }}<br/>
    {% for error in form.describe.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.image_url.label }}<br/>
    {{ form.image_url(size=32) }}<br/>
    {% for error in form.image_url.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.price.label }}<br/>
    {{ form.price(size=32) }}<br/>
    {% for error in form.price.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.quantity.label }}<br/>
    {{ form.quantity(size=32) }}<br/>
    {% for error in form.quantity.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.available.label }}<br/>
    {{ form.available(size=32) }}<br/>
    {% for error in form.available.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endif %}

{% endblock %}
