{% extends "index.html" %}

{% block content %}

<br><br>
<h2>My Cart</h2>
<!-- {% if user_cart != None %} -->


<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>

    </tr>
  </thead>
  <tbody>
    {% for item in user_cart%}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.pid}}</td>
        <td>{{item.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  <a class="btn btn-secondary" href="{{ url_for('checkout.checkout') }}" role="button">Checkout</a>
<!-- {% endif %} -->


{% endblock %}
