{% extends "index.html" %}

{% block content %}
<br><br>

<head>
  <meta name="viewport" content="width=device-width, initial-  
  scale=1">
  <link rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>



<p align="right">
<a href="{{ url_for('index.index') }}" type="button" class="btn btn-dark">This is not me</a></p>
<h2>My Cart:</h2>


<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Product</th>
      <th scope="col">Seller</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>
<p align="right">
<a href="{{ url_for('index.checkout') }}" type="button" class="btn btn-dark">Proceed to Checkout</a></p>


{% endblock %}
