{% extends "carts.html" %}

{% block content %}

<br><br>
<h2>Please expect the following items to arrive soon!</h2>
{% if user_cart != None %}


<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>

    </tr>
  </thead>
  <tbody>
    {% for item in user_cart%}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.pid}}</td>
        <td>{{item.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<article class="container">
      </div>
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
            {{ form.quantity.label }}<br/>
            {{ form.quantity(size=32) }}<br/>
            {% for error in get_flashed_messages() %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.add_date.label }}<br/>
            {{ form.add_date(size=32) }}<br/>
            {% for error in get_flashed_messages() %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form1.submit() }}</p>
        </form>
    </div>

</article>
{% endif %}


{% endblock %}
