{% extends "base.html" %}

{% block content %}

<h1>Edit Balance</h1>

<form action="" method="post" >
  {{ form.hidden_tag() }}
  <h3> Add or withdraw money from your account. Simply enter the new amount you want your account to have! </h3>
  <p> Current Balance: {{ current_user.balance }} </p>
  <p>
    {{ form.balance.label }} <br/>
    {{ form.balance(size=32, value=current_user.balance) }}<br/>
    {% for error in form.balance.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  

  <p>{{ form.submit() }}</p>
</form>

{% endblock %}
