{% extends "base.html" %}

{% block content %}

<br><br>

<head>
  <meta name="viewport" content="width=device-width, initial-  
  scale=1">
  <link rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <h1><center>Products</center></h1>
  <form class="example" method="post" action="" 
   style="color:blue; margin: 0 auto;width:600px">
      <input type="text" placeholder="Search by product name or type" name="product">
      <button type="submit"><i class="fa fa-search"></i>
      </button>
  </form>
  <p></p>
</body>

{% if current_user.is_authenticated %}
<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope = "col">Add to Cart</th>
      <th scope = 'col'>Write a Review</th>
    </tr>
  </thead>
  <tbody> 
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><a class="btn btn-secondary" href="{{ url_for('users.logout') }}" role="button" color="blue">Add to Cart</a></td>
        <td><a class="btn btn-secondary" href="{{ url_for('review_form') }}" role="button" color="blue">Review</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}



<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope = "col">Write a Review</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
        <td><a class="btn btn-secondary" href="{{ url_for('users.logout') }}" role="button">Add to Cart</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
