{% extends "product_page.html" %}

{% block content %}

<br><br>
<style>
h2 {text-align: center;}
<style>

<h2>Item Successfully Added!</h2>

<article class="container">
    <!-- Left Column / mage -->
    <div class="right-column">
        {% for product in product_row %}
        <img data-image="black" src="{{product.image_url}}" height=500 alt="">
        {% endfor %}
    </div>

      <!-- Right Column -->
    <div class="right-column">
 
        <!-- Product Description -->
        {% for product in product_row %}
        <div class="product-description">
        <h1>{{product.product_name}}</h1>
        <p>{{product.product_description}}</p>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
        <span>$ {{product.price}}</span>
        <!-- <a href="#" class="cart-btn">Add to cart</a> -->
        </div>

        <td><a class="cart-btn" href="{{ url_for('interim.interim', name = name,
                            product_id = product_id) }}" role="button">Add to Cart</a></td>

        {% endfor %}
    </div>
</article>


{% endblock %}
