{% extends "base.html" %}

{% block content %}
<style>
/* Basic Styling */
html, body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Sections */
.bottom_section {
  position: relative;
  max-width: 1000px;
  max-height: 1000px;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
.left-column img {
  /*width: 100%;*/
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 0.3s ease;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 10px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}
 
</style>

<article class="container">
    <!-- Left Column / mage -->
    <div class="left-column">
        {% for product in product_row %}
        <img data-image="black" src="{{product.image_url}}" height=500 alt="">
        {% endfor %}
    </div>

      <!-- Right Column -->
    <div class="right-column">
 
        <!-- Product Description -->
        {% for product in product_row %}
        <div class="product-description">
        <h1>{{product.product_name}}</h1>
        <p>{{product.product_description}}</p>
        <p><b>Category:</b> {{product.cat_name}}</p>
        <p><b>Seller:</b> {{product.firstname}} {{product.lastname}}</p>
      </div>

     
      {% for thing in seller %}
      <a class="btn btn-secondary" href="{{ url_for('seller_reviews.add_a_seller_review', sid=thing.seller_id) }}" role="button" color="blue">Write a Review of this Seller</a> 
      {% endfor %}

        <!-- Product Pricing -->
        <div class="product-price">
        <span>$ {{product.price}}</span>
        <!-- <a href="#" class="cart-btn">Add to cart</a> -->
        </div>

        <br>
        <p>There are {{product.quantity}} items currently available.</p>
 
        {% endfor %}

        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
            {{ form.quantity.label }}<br/>
            {{ form.quantity(size=32) }}<br/>
            {% for error in get_flashed_messages() %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.add_date.label }}<br/>
            {{ form.add_date(size=32) }}<br/>
            {% for error in get_flashed_messages() %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
        </form>
    </div>

</article>

<br<></br><br<></br><br<></br><br<></br>

<article class="bottom_section">
<h2>Offerings from Other Sellers:</h2>
  <table class='table table-hover'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity Available</th>
        <th scope="col">Seller</th>
        <th scope="col">Rating (max: 5)</th>
        <th scope="col">Product Page</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products_by_other_sellers%}
        <tr>
          <td>{{product.product_name}}</td>
          <td>{{product.product_description}}</td>
          <td><img src="{{product.image_url}}" alt="" height=100></img></td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>

           <td><p>><a href="{{ url_for('users.profile', id=current_user.id) }}"> {{product.firstname}} {{product.lastname}}</a></p></td>
          <td>{{product.avg_rating}}</td>
          <td><a class="btn btn-secondary" href="{{ url_for('product_page.product_page', name=(product.product_name).replace(' ', '_'), product_id = product.product_id)}}" role="button"
            style = "background: #57edf6; color: black">More Details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<!--review button-->

<br><br>
<!-- add review button -->
{% for product in product_row %}
<a class="btn btn-secondary" href="{{ url_for('reviews.add_a_review', product_id = product.product_id)}}" role="button" color="blue">Write a Review</a>
{% endfor %}

<br><br>
<!--review table-->

<h2>Reviews:</h2>
<h3>Average Rating out of 5 Stars: {{avg_product_rating}}</h3> 
<h3>Number of Reviews: {{num_reviews}}</h3>
<table class='table table-hover'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Rating</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
  <tbody>
    {% for review in product_reviews %} 
      <tr>
        <th scope = "row">{{review.uid}}</th>
        <td>{{review.rating}}</td>
        <td>{{review.review}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
    <!-- add if user matches uid they can edit or delete-->
  </article>
{% endblock %}












