{% extends "base.html" %}

{% block content %}
<style>
/* Basic Styling */
html, body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
.left-column img {
  /*width: 100%;*/
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 0.3s ease;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
</style>

<main class="container">
 
    <!-- Left Column / mage -->
    <div class="left-column">
        {% for product in product_row %}
        <img data-image="black" src="{{product.image_url}}" height=500 alt="">
        {% endfor %}
    </div>
<!-- Right Column -->
    <div class="right-column">
 
        <!-- Product Description -->
        {% for product in product_row %}
        <div class="product-description">
        <h1>{{product.product_name}}</h1>
        <p>{{product.product_description}}</p>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
        <span>$ {{product.price}}</span>
        <!-- <a href="#" class="cart-btn">Add to cart</a> -->
        </div>


        {% endfor %}
    </div></main>

</main>

<!--review button-->

<br><br>
<!-- add review button -->
<a class="btn btn-secondary" href="{{ url_for('reviews.add_review') }}" role="button" color="blue">Write a Review</a>
 

<br><br>
<!--review table-->

<h2>Reviews:</h2>
<h3>Average Rating out of 5 Stars: {{avg_product_rating}}</h3> 
<h3>Number of Reviews: {{num_reviews}}</h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Rating</th>
      <th scope="col">Reviews</th>

    </tr>
  </thead>
  <tbody>
    {% for review in product_reviews %} 
      <tr>
        <th scope = "row">{{review.uid}}</th>
        <td>{{review.rating}}</td>
        <td>{{review.review}}</td>
      </tr>


    {% endfor %}
  </tbody>
</table>
    <!-- add if user matches uid they can edit or delete-->
  
{% endblock %}












