{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Your Profile</h2>

{% if current_user.is_authenticated %}

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Address</th>
      <th scope="col">Balance</th>
      <th scope="col">Seller?</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <!--{% for user in user_info%}-->
      <tr>
        <th scope="row">{{user.firstname}}</th>
        <td><a class="btn btn-secondary" href="{{ url_for('users.register') }}" role="button" color="yellow">Edit</a></td>
        <td><a class="btn btn-secondary" href="{{ url_for('users.register') }}" role="button" color="yellow">Edit</a></td>
        <td><a class="btn btn-secondary" href="{{ url_for('users.register') }}" role="button" color="yellow">Edit</a></td>
        <td><a class="btn btn-secondary" href="{{ url_for('users.register') }}" role="button" color="yellow">Edit</a></td>
        <td><a class="btn btn-secondary" href="{{ url_for('users.register') }}" role="button" color="yellow">Edit</a></td>
        <td><a class="btn btn-secondary" href="{{ url_for('users.register') }}" role="button" color="yellow">Edit</a></td>
      </tr>
    <!--{% endfor %}-->
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your information!</p>
{% endif %}


{% endblock %}
