{% extends "base.html" %}

{% block content %}

<h2>Reviews of Seller {{sid}}:</h2>
<h3>Average Rating out of 5 Stars: {{avg_seller_rating}}</h3> 
<h3>Number of Reviews: {{num_seller_reviews}}</h3>
<table class='table table-hover'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Rating</th>
      <th scope="col">Reviews</th>
    </tr>
  </thead>
  <tbody>
    {% for review in seller_reviews %} 
      <tr>
        <th scope = "row">{{review.uid}}</th>
        <td>{{review.rating}}</td>
        <td>{{review.review}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
    <!-- add if user matches uid they can edit or delete-->
  </article>
{% endblock %}