{% extends "base.html" %}

{% block content %}

<br><br>


<td><a class="btn btn-secondary" href="{{ url_for('add_items.add_items') }}" role="button" color=#FF5733>Add to Your Inventory</a></td>
<td><a class="btn btn-secondary" href="{{ url_for('update_items.update_items') }}" role="button" color=#FF5733>Update Inventory</a></td>
<td><a class="btn btn-secondary" href="{{ url_for('seller_order_history.seller_order_history') }}" role="button" color=#FF5733>My Orders</a></td>

{% if avail_products|length == 0 %}
<h3> No Products to show - make sure you're a seller! If you are, add inventory to show here!</h3>
{% else %}

<h2>Your Products</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Rating (max: 5)</th>
      <th scope="col">Quantity</th>
      <th scope="col">Available?</th>
      <th scope = "col">Product Page</th>
    </tr>
  </thead>
  <tbody> 
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.product_id}}</th>
        <td>{{product.product_name}}</td>
        <td>{{product.product_description}}</td>
        <td><img src="{{product.image_url}}" alt="" height=100></img></td>
        <td>{{product.price}}</td>
        <td>{{product.cat_name}}</td>
        <td>{{product.avg_rating}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.available}}</td>
        <td><a class="btn btn-secondary" href="{{ url_for('product_page.product_page', name=(product.product_name).replace(' ', '_'), product_id = product.product_id)}}" role="button"
          style = "background: #57edf6; color: black">Detailed Page</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endif %}


{% endblock %}
