{% extends "base.html" %}

{% block content %}

<br><br>

<h2>{{ product.firstname}} {{product.lastname}}'s Profile</h2>
<br>
<div class="card">
  <div class="card-header">
    Seller Information
  </div>
<div class="card-body">
<p class="card-text">
<strong>User ID: </strong>{{ current_user.id }}<br/>
<strong>Email: </strong>{{ current_user.email }}<br/>
<strong>First Name: </strong>{{ product.firstname }}<br/>
<strong>Last Name: </strong>{{ product.lastname }}<br/>
<strong>Address: </strong>{{ current_user.address }}<br/>
  
  </div>
</div>

{% endblock %}
