{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Seller Information</h2>
<br>
<div class="card">
  <div class="card-header">
    Seller Information
  </div>
<div class="card-body">
<p class="card-text">
<strong>Email: </strong>Olivia@gmail.com<br/>
<strong>First Name: </strong>Olivia<br/>
<strong>Last Name: </strong>Jack<br/>
<strong>Address: </strong>1 Duke Way Durham NC 27705<br/>

  <!-- reviews about you button will need to be modified for public view -->
  
  </div>
</div>
{% endblock %}
