{% extends "base.html" %}

{% block content %}

<h1>Product Reviews You Have Written</h1>

<br><br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">pid</th>
      <th scope="col">rating</th>
      <th scope="col">review</th>
      <th scope="col">rev_timestamp</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>


    </tr>
  </thead>
  <tbody>
    {% for review in user_reviews%}
      <tr>
        <th scope="row">{{review.pid}}</th>
        <td>{{review.rating}}</td>
        <td>{{review.review}}</td>
        <td>{{review.rev_timestamp}}</td>
        <td><a class="btn btn-secondary" href="{{ url_for('reviews.editreview', id = review.rid)}}" role="button"
          style = "background: #57edf6; color: black">Edit Review</a></td>
        <td><a class="btn btn-secondary" href="{{ url_for('reviews.delete_this_review', rid = review.rid)}}" role="button"
          style = "background: #f65757; color: black">Delete Review</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>
<br><br>
<h1>Seller Reviews You Have Written</h1>

<br><br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">sid</th>
      <th scope="col">rating</th>
      <th scope="col">review</th>
      <th scope="col">rev_timestamp</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>


    </tr>
  </thead>
  <tbody>
    {% for review in seller_reviews%}
      <tr>
        <th scope="row">{{review.sid}}</th>
        <td>{{review.rating}}</td>
        <td>{{review.review}}</td>
        <td>{{review.rev_timestamp}}</td>
        <td><a class="btn btn-secondary" href="{{ url_for('seller_reviews.editreview', id = review.rid)}}" role="button"
          style = "background: #57edf6; color: black">Edit Review</a></td>
        <td><a class="btn btn-secondary" href="{{ url_for('seller_reviews.delete_this_review', rid = review.rid)}}" role="button"
          style = "background: #f65757; color: black">Delete Review</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}